<div class="card mb-3">
  <div class="card-header text-white bg-dark">SUB TASK<a class="float-right text-white" href="#"><i class="fas fa-plus"></i></a></div>
  <div class="card-body">
    <div id="form_tasks">
      <% Task.where(project_id: @project.id).each do |t| %>
        <%= form_tag({controller: 'tasks', action: 'update'}, { method: 'patch', authenticity_token: true, remote: true, class: ''}) do %>
          <div class="custom-control custom-checkbox mb-1">
            <input type="checkbox" class="custom-control-input" id="task_id<%= t.id %>" name="state" value="1" onchange='this.form.submit()' <%= 'checked' if t.state %>>
            <label class="custom-control-label" for="task_id<%= t.id %>"><%= t.name %></label>
            <!--
            <span class="ml-2 js_count">
              <span style="font-size: 0.8rem;">
                <%# TODO: カウント処理 %>
                <%= get_formatted_time(t.id, @project.id).html_safe %>
              </span>
            -->
              <%= hidden_field_tag :working_hour_id, t.working_hour.id %>
              <%= hidden_field_tag :task_id, t.id %>
            <!--
            </span>
            <span class="float-right"><%= link_to raw('<i class="fas fa-times"></i>'), task_path(t), {remote: true, :method => :delete, :class => 'text-dark'} %></span>
            -->
          </div>
        <% end %>
      <% end %>
    </div>

    <%= form_tag({controller: 'tasks', action: 'create'}, { remote: true, class: 'js_tasks-form'}) do %>
      <div class="field mt-3 mb-2">
        <%= label_tag :name, nil, {class: 'sr-only'} %>
        <%= text_field_tag :name, nil, {class: 'form-control', placeholder: "Waiting task.."} %>
      </div>
      <div class="actions">
        <%= submit_tag 'Add', {class: "btn btn-sm btn-info"} %>
      </div>
      <%= hidden_field_tag :project_id, @project.id %>
    <% end %>
  </div>
</div>