<% provide(:title, 'マイカレンダー') %>

<main class="container-fluid" style="padding-top: 57px">
  <% flash.each do |key, value| %>
    <% key = 'success' if key == 'notice' %>
    <%= content_tag(:div, value, class: "text-center alert alert-#{key}") %>
  <% end %>

  <div class="row">

    <div class="col-2">
      <div class="card mb-3">
        <div class="card-header text-white bg-dark">表示</div>
        <div class="card-body p-0">
          <div class="list-group list-group-flush">
            <a class="list-group-item" href="#">日表示［未実装］</a>
            <a class="list-group-item active" href="<%= url_for(weekly_calendar_path) %>">週表示</a>
            <a class="list-group-item" href="#">月表示［未実装］</a>
            <a class="list-group-item" href="<%= url_for(agenda_calendar_path) %>">一覧表示</a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-10">

      <div class="card mb-3">
        <div class="card-header text-white bg-dark">マイカレンダー
          <a class="float-right text-white" href="javascript:alert('未実装です。');">CSVで出力する</a>
        </div>
        <div class="card-body">
          <%= link_to '予定を登録する', new_calendar_path, class: "btn btn-primary" %>
          <hr>
          <div class="d-flex py-3">
            <div class="mr-auto"><strong><%= @time.strftime("%Y/%m/%d (#{@wd[@time.wday]})") %></strong></div>
            <div class="px-2"><a href="<%= url_for weekly_calendar_path(starting_point: @time.ago(7.days).strftime("%Y-%m-%d")) %>">先週</a></div>
            <div class="px-2"><a href="<%= url_for weekly_calendar_path(starting_point: @time.yesterday.strftime("%Y-%m-%d")) %>">前日</a></div>
            <div class="px-2"><a href="<%= url_for weekly_calendar_path(starting_point: Time.zone.now.strftime("%Y-%m-%d")) %>">今日</a></div>
            <div class="px-2"><a href="<%= url_for weekly_calendar_path(starting_point: @time.tomorrow.strftime("%Y-%m-%d")) %>">翌日</a></div>
            <div class="px-2"><a href="<%= url_for weekly_calendar_path(starting_point: @time.since(7.days).strftime("%Y-%m-%d")) %>">翌週</a></div>
            <div class="px-2 mr-2"><a href="javascript:alert('未実装');"><i class="far fa-calendar-alt"></i></a></div>
            <div class="px-2">
              <div class="dropdown">
                <button class="btn btn-sm btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  表示設定[未実装]
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <div class="p-2"><input type="checkbox" name="hoge" class=""> hoge</div>
                  <div class="p-2"><input type="checkbox" name="fuga" class=""> fuga</div>
                  <div class="p-2"><input type="checkbox" name="piyo" class=""> piyo</div>
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex py-1">
            <div class="mr-auto">
              <img src="<%= "/user_images/#{@current_account.user.image_name}" %>" width="25">
              <strong style="font-size: 13px;"><%= link_to @current_account.user.name, user_path(@current_account.user.id) %></strong>
            </div>
          </div>

          <table class="calendar mt-2 w-100">
            <tr>
              <td width="14.28%" class="border p-2 align-top">
                <a href=""><%= @time.strftime("%Y/%m/%d (#{@wd[@time.wday]})") %></a>
                <a class="float-right" href="<%= url_for(new_calendar_path(start_date: @time.year.to_s+'-'+@time.month.to_s+'-'+@time.day.to_s)) %>"><i class="fas fa-plus"></i></a>
                <div class="calendar__item mt-2">
                  <div>14:00-16:00</div>
                  <a href="">
                    <div>[グループ名][イベント]</div>
                    <div>スケジュールネーム</div>
                  </a>
                </div>
                <% #calendars = Calendar.get_calendar(@time.year, @time.month, @time.day) %>
                <% calendars = Calendar.get_schedule_with_duration(@current_account.id, Time.new(@time.year, @time.month, @time.day).to_i, @joined_groups) %>
                <% calendars.each do |calendar| %>
                  <div class="calendar__item mt-2">
                    <div><%= get_duration_date(calendar, @time) %></div>
                    <a href="<%= url_for(calendar_path(calendar)) %>">
                      <div>
                        <% if calendar.account_id != @current_account.id %>
                          <i class="fas fa-share-alt text-info"></i>
                        <% end %>
                        <%= calendar.name %>
                      </div>
                    </a>
                  </div>
                <% end %>
              </td>
              
              <td width="14.28%" class="border p-2 align-top">
                <a href=""><%= @time.tomorrow.strftime("%Y/%m/%d (#{@wd[@time.tomorrow.wday]})") %></a>
                <a class="float-right" href="<%= url_for(new_calendar_path(start_date: @time.tomorrow.year.to_s+'-'+@time.tomorrow.month.to_s+'-'+@time.tomorrow.day.to_s)) %>"><i class="fas fa-plus"></i></a>
                <div class="calendar__item mt-2">
                  <div>14:00-16:00</div>
                  <a href="">
                    <div>[グループ名][イベント]</div>
                    <div>スケジュールネーム</div>
                  </a>
                </div>
                <% calendars = Calendar.get_schedule_with_duration(@current_account.id, Time.new(@time.tomorrow.year, @time.tomorrow.month, @time.tomorrow.day).to_i, @joined_groups) %>
                <% calendars.each do |calendar| %>
                  <div class="calendar__item mt-2">
                    <div><%= get_duration_date(calendar, @time.tomorrow) %></div>
                    <a href="<%= url_for(calendar_path(calendar)) %>">
                      <div>
                        <% if calendar.account_id != @current_account.id %>
                          <i class="fas fa-share-alt text-info"></i>
                        <% end %>
                        <%= calendar.name %>
                      </div>
                    </a>
                  </div>
                <% end %>
              </td>
              
              <td width="14.28%" class="border p-2 align-top">
                <a href=""><%= @time.since(2.days).strftime("%Y/%m/%d (#{@wd[@time.since(2.days).wday]})") %></a>
                <a class="float-right" href="<%= url_for(new_calendar_path(start_date: @time.since(2.days).year.to_s+'-'+@time.since(2.days).month.to_s+'-'+@time.since(2.days).day.to_s)) %>"><i class="fas fa-plus"></i></a>
                <div class="calendar__item mt-2">
                  <div>14:00-16:00</div>
                  <a href="">
                    <div>[グループ名][イベント]</div>
                    <div>スケジュールネーム</div>
                  </a>
                </div>
                <% calendars = Calendar.get_schedule_with_duration(@current_account.id, Time.new(@time.since(2.days).year, @time.since(2.days).month, @time.since(2.days).day).to_i, @joined_groups) %>
                <% calendars.each do |calendar| %>
                  <div class="calendar__item mt-2">
                    <div><%= get_duration_date(calendar, @time.since(2.days)) %></div>
                    <a href="<%= url_for(calendar_path(calendar)) %>">
                      <div>
                        <% if calendar.account_id != @current_account.id %>
                          <i class="fas fa-share-alt text-info"></i>
                        <% end %>
                        <%= calendar.name %>
                      </div>
                    </a>
                  </div>
                <% end %>
              </td>

              <td width="14.28%" class="border p-2 align-top">
                <a href=""><%= @time.since(3.days).strftime("%Y/%m/%d (#{@wd[@time.since(3.days).wday]})") %></a>
                <a class="float-right" href="<%= url_for(new_calendar_path(start_date: @time.since(3.days).year.to_s+'-'+@time.since(3.days).month.to_s+'-'+@time.since(3.days).day.to_s)) %>"><i class="fas fa-plus"></i></a>
                <div class="calendar__item mt-2">
                  <div>14:00-16:00</div>
                  <a href="">
                    <div>[グループ名][イベント]</div>
                    <div>スケジュールネーム</div>
                  </a>
                </div>
                <% calendars = Calendar.get_schedule_with_duration(@current_account.id, Time.new(@time.since(3.days).year, @time.since(3.days).month, @time.since(3.days).day).to_i, @joined_groups) %>
                <% calendars.each do |calendar| %>
                  <div class="calendar__item mt-2">
                    <%= get_duration_date(calendar, @time.since(3.days)) %>
                    <a href="<%= url_for(calendar_path(calendar)) %>">
                      <div>
                        <% if calendar.account_id != @current_account.id %>
                          <i class="fas fa-share-alt text-info"></i>
                        <% end %>
                        <%= calendar.name %>
                      </div>
                    </a>
                  </div>
                <% end %>
              </td>
              
              <td width="14.28%" class="border p-2 align-top">
                <a href=""><%= @time.since(4.days).strftime("%Y/%m/%d (#{@wd[@time.since(4.days).wday]})") %></a>
                <a class="float-right" href="<%= url_for(new_calendar_path(start_date: @time.since(4.days).year.to_s+'-'+@time.since(4.days).month.to_s+'-'+@time.since(4.days).day.to_s)) %>"><i class="fas fa-plus"></i></a>
                <div class="calendar__item mt-2">
                  <div>14:00-16:00</div>
                  <a href="">
                    <div>[グループ名][イベント]</div>
                    <div>スケジュールネーム</div>
                  </a>
                </div>
                <% calendars = Calendar.get_schedule_with_duration(@current_account.id, Time.new(@time.since(4.days).year, @time.since(4.days).month, @time.since(4.days).day).to_i, @joined_groups) %>
                <% calendars.each do |calendar| %>
                  <div class="calendar__item mt-2">
                    <%= get_duration_date(calendar, @time.since(4.days)) %>
                    <a href="<%= url_for(calendar_path(calendar)) %>">
                      <div>
                        <% if calendar.account_id != @current_account.id %>
                          <i class="fas fa-share-alt text-info"></i>
                        <% end %>
                        <%= calendar.name %>
                      </div>
                    </a>
                  </div>
                <% end %>
              </td>
              
              <td width="14.28%" class="border p-2 align-top">
                <a href=""><%= @time.since(5.days).strftime("%Y/%m/%d (#{@wd[@time.since(5.days).wday]})") %></a>
                <a class="float-right" href="<%= url_for(new_calendar_path(start_date: @time.since(5.days).year.to_s+'-'+@time.since(5.days).month.to_s+'-'+@time.since(5.days).day.to_s)) %>"><i class="fas fa-plus"></i></a>
                <div class="calendar__item mt-2">
                  <div>14:00-16:00</div>
                  <a href="">
                    <div>[グループ名][イベント]</div>
                    <div>スケジュールネーム</div>
                  </a>
                </div>
                <% calendars = Calendar.get_schedule_with_duration(@current_account.id, Time.new(@time.since(5.days).year, @time.since(5.days).month, @time.since(5.days).day).to_i, @joined_groups) %>
                <% calendars.each do |calendar| %>
                  <div class="calendar__item mt-2">
                    <%= get_duration_date(calendar, @time.since(5.days)) %>
                    <a href="<%= url_for(calendar_path(calendar)) %>">
                      <div>
                        <% if calendar.account_id != @current_account.id %>
                          <i class="fas fa-share-alt text-info"></i>
                        <% end %>
                        <%= calendar.name %>
                      </div>
                    </a>
                  </div>
                <% end %>
              </td>
              
              <td width="14.28%" class="border p-2 align-top">
                <a href=""><%= @time.since(6.days).strftime("%Y/%m/%d (#{@wd[@time.since(6.days).wday]})") %></a>
                <a class="float-right" href="<%= url_for(new_calendar_path(start_date: @time.since(6.days).year.to_s+'-'+@time.since(6.days).month.to_s+'-'+@time.since(6.days).day.to_s)) %>"><i class="fas fa-plus"></i></a>
                <div class="calendar__item mt-2">
                  <div>14:00-16:00</div>
                  <a href="">
                    <div>[グループ名][イベント]</div>
                    <div>スケジュールネーム</div>
                  </a>
                </div>
                <% calendars = Calendar.get_schedule_with_duration(@current_account.id, Time.new(@time.since(6.days).year, @time.since(6.days).month, @time.since(6.days).day).to_i, @joined_groups) %>
                <% calendars.each do |calendar| %>
                  <div class="calendar__item mt-2">
                    <%= get_duration_date(calendar, @time.since(6.days)) %>
                    <a href="<%= url_for(calendar_path(calendar)) %>">
                      <div>
                        <% if calendar.account_id != @current_account.id %>
                          <i class="fas fa-share-alt text-info"></i>
                        <% end %>
                        <%= calendar.name %>
                      </div>
                    </a>
                  </div>
                <% end %>
              </td>
              
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>
